server:
  port: 8085
  http2:
    enabled: true
  tomcat:
    redirect-context-root: false

management:
  server:
    port: 8090
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: healh-data-${BRANCH:dev}
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
  jackson:
    serialization:
      INDENT_OUTPUT: true
    default-property-inclusion:
  session:
    timeout: 180

jasypt:
  encryptor:
    algorithm: PBEWITHHMACSHA512ANDAES_256
    iv-generator-classname: org.jasypt.iv.RandomIvGenerator

joinfaces:
  primefaces:
  #theme: twitter
  jsf:
    project-stage: Production
    facelets-refresh-period: 1
    state-saving-method: client
    serialize-server-state: true

# RavenDB Configuration
ravendb:
  database: HealthData
  urls: http://nodea:8080, http://nodeb:8080

logging:
  level:
    root: INFO
    org.apache.http: INFO
    net.ravendb.client: WARN
  pattern:
    dateformat: MM-dd HH:mm:ss.SSS,America/Los_Angeles
    console: "${CONSOLE_LOG_PATTERN:-%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(---){faint} %clr(%-25.35logger{1}.%M){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"
