server:
  port: 8085
  http2:
    enabled: true
  tomcat:
    redirect-context-root: false

management:
  server:
    port: 8090
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: healh-data-${BRANCH:dev}
  boot:
    admin:
      client:
        url: http://sba.sba-java25:8085
        username: admin
        password: ENC(t5f260ImR+1fclwWt0dv420rgK8jrH1CcwnTjJu0onssONfuvQ1Yn6exQXxE0dPh)
        auto-registration: true
        auto-deregistration: true
        instance:
          name: ${spring.application.name}
          prefer-ip: true
          management-base-url: http://${POD_IP}:8090
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
  jackson:
    serialization:
      INDENT_OUTPUT: true
    default-property-inclusion:
  session:
    timeout: 180

joinfaces:
  primefaces:
  #theme: twitter
  jsf:
    state-saving-method: client
    serialize-server-state: true


# RavenDB Configuration
ravendb:
  url: http://raven.raven:8080

logging:
  level:
    root: INFO
    org.apache.http: INFO
    net.ravendb.client: WARN
    org:
      gpc4j:
        pf:
          jsf:
            beans:
              EditBean: DEBUG
  pattern:
    dateformat: MM-dd HH:mm:ss.SSS,America/Los_Angeles
    console: "${CONSOLE_LOG_PATTERN:-%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(---){faint} %clr(%-25.35logger{1}.%M){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"
